.skills-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .skills-item-container {
    width: 50%;
  }
}
